/* Start Variables*/

/* End Variables */
/* Start Global Rules */
:root{
  --headingColor: #222222;
    --textColor: #465b52;
    --bgColor: #e3e6f3;
    --hoverColor: #088178;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --bkColor: #1a1a1a;
    --borderColor: #cce7d0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Spartan', sans-serif;
    width: 100vw;
    /* position: relative; */
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
        
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* End Global Rules */
/* Start Header */

.logo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.8px;
    margin-bottom: 10px;
    background-color: var(--bgColor);
    box-shadow: 0 5px 15px rgb(0 0 0 / 6%);
    z-index: 9999;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.logo span{
    display: block;
    color: var(--hoverColor);
    font-size: 36px;
    transform: rotate(10deg);
}
nav{
    height: 44px;
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    max-width: 100%;
    padding: 0 20px;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item{
    border-radius: 10px;
    flex-grow: 1;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex-grow 0.4s cubic-bezier(0.17, .67, 0.27, 1.42);
}
.menu-item:not(:nth-child(1)){
    margin-left: 10px;
}
.menu-item.active-anim{
    flex-grow: 3;
}
.menu-item img{
    width: 30px;
}
nav a:nth-child(1){
    background: #9cd3ec;
  }
nav a:nth-child(2){
    background: #ecc79c;
  }
nav a:nth-child(3){
    background: #ec9c9c;
  }
nav a:nth-child(4){
    background: #9ceca0;
  }
/* End Header */

/* Start product */
.product{
    padding-top: 50px;
    padding-bottom: 45px;
}
.product .card{
    border: 1px solid var(--borderColor);
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    margin: 10px 0;
    max-width: 100%;
    background-color: --var;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product .card .img{
    overflow: hidden;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #f0f0f0;
    
    min-height: 400px;
}
.product .card img{
    width: 85%;
    transition: .5s all ;
    
}
.product .card:hover{
  border-width: 2px ;
}
.product .card .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}
.product .card .info .taille{
    letter-spacing: 0.5px;
    color: rgb(102, 102, 102);
}
.product .card .info .taille span{
    font-weight: 500;
    color: black;
    font-size: 19px;
    line-height: 19px;
}
.product .card .info .prix{
    font-weight: bold;
    font-size: 22px;
    color: var(--hoverColor);
}
/* End product */


/* start Media query */
@media (min-width: 768px) {
    .product .container {
        width: 750px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .product .container .card{
          width: 300px;
          margin: 10px;
      }
  }
  /* Medium */
  @media (min-width: 992px) {
    .product .container {
      width: 970px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .product .container .card{
        width: 260px;
        margin: 10px;
    }
        
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
    .product .container .card{
        
    }
  }

/* End Media query */
